
NET "clk"    LOC = P84;

/*
NET "SIOC<16>" LOC=P106 | IOSTANDARD =  SCCB;
NET "SIOD<15>" LOC=P102 | IOSTANDARD =  SCCB;
NET "vsync<14>" LOC=P101 | IOSTANDARD = LVCMOS33;
NET "href<13>" LOC=P99 | IOSTANDARD = LVCMOS33;
NET "p_clock<12>" LOC=P98 | IOSTANDARD = LVCMOS33;
NET "clk<11>" LOC=P95 | IOSTANDARD = LVCMOS33;
NET "pixel_data[7]<10>" LOC=P94 | IOSTANDARD = LVCMOS33;
NET "pixel_data[6]<9>" LOC=P93 | IOSTANDARD = LVCMOS33;
NET "pixel_data[5]<8>" LOC=P92 | IOSTANDARD = LVCMOS33;
NET "pixel_data[4]<7>" LOC=P88 | IOSTANDARD = LVCMOS33;
NET "pixel_data[3]<6>" LOC=P85 | IOSTANDARD = LVCMOS33;
NET "pixel_data[2]<5>" LOC=P83 | IOSTANDARD = LVCMOS33;
NET "pixel_data[1]<4>" LOC=P82 | IOSTANDARD = LVCMOS33;
NET "pixel_data[0]<3>" LOC=P81 | IOSTANDARD = LVCMOS33;
NET "reset<2>" LOC=P80 | IOSTANDARD = LVCMOS33;
NET "pwdn<1>" LOC=P79 | IOSTANDARD = LVCMOS33; */
/*
NET "SIOC" LOC=P106;
NET "SIOD" LOC=P102;
NET "vsync" LOC=P101;
NET "href" LOC=P99;
NET "p_clock" LOC=P98;
NET "clk" LOC=P95;
NET "pixel_data<7>" LOC=P94;
NET "pixel_data<6>" LOC=P93;
NET "pixel_data<5>" LOC=P92;
NET "pixel_data<4>" LOC=P88;
NET "pixel_data<3>" LOC=P85;
NET "pixel_data<2>" LOC=P83;
NET "pixel_data<1>" LOC=P82;
NET "pixel_data<0>" LOC=P81;
NET "reset" LOC=P80;
NET "pwdn" LOC=P79; */

NET "SIOC" LOC=P102 | IOSTANDARD = LVCMOS33;
NET "SIOD" LOC=P101 | IOSTANDARD = LVCMOS33;
NET "vsync" LOC=P99 | IOSTANDARD = LVCMOS33;
NET "href" LOC=P98 | IOSTANDARD = LVCMOS33;
NET "p_clock" LOC=P95 | IOSTANDARD = LVCMOS33;
NET "clk" LOC=P94 | IOSTANDARD = LVCMOS33;
NET "pixel_data<7>" LOC=P93 | IOSTANDARD = LVCMOS33;
NET "pixel_data<6>" LOC=P92 | IOSTANDARD = LVCMOS33;
NET "pixel_data<5>" LOC=P88 | IOSTANDARD = LVCMOS33;
NET "pixel_data<4>" LOC=P85 | IOSTANDARD = LVCMOS33;
NET "pixel_data<3>" LOC=P83 | IOSTANDARD = LVCMOS33;
NET "pixel_data<2>" LOC=P82 | IOSTANDARD = LVCMOS33;
NET "pixel_data<1>" LOC=P81 | IOSTANDARD = LVCMOS33;
NET "pixel_data<0>" LOC=P80 | IOSTANDARD = LVCMOS33;
NET "rst" LOC=P79 | IOSTANDARD = LVCMOS33;
// NET "power" LOC=P79 | IOSTANDARD = LVCMOS33;